In [56]:
import pandas as pd

In [57]:
df = pd.read_json('airports-code@public.json')
df

,column_1,airport_name,city_name,country_name,country_code,latitude,longitude,world_area_code,city_name_geo_name_id,country_name_geo_name_id,coordinates
0,YCB,Cambridge Bay,Cambridge Bay,Canada,CA,69.116667,-105.133333,906,\N,6251999.0,"{'lon': -105.133333, 'lat': 69.116667}"
1,YKD,Township Airport,Kincardine,Canada,CA,44.201389,-81.606667,906,\N,6251999.0,"{'lon': -81.606667, 'lat': 44.201389}"
2,UPF,Pforheim,Pforheim,Germany,DE,48.900000,8.700000,429,\N,2921044.0,"{'lon': 8.7, 'lat': 48.9}"
3,IXB,Bagdogra,Bagdogra,India,IN,26.733333,88.333333,733,1277897,1269750.0,"{'lon': 88.333333, 'lat': 26.733333000000002}"
4,IMK,Simikot,Simikot,Nepal,NP,29.966667,81.833333,755,\N,1282988.0,"{'lon': 81.833333, 'lat': 29.966667}"
...,...,...,...,...,...,...,...,...,...,...,...
9182,HSL,Huslia,Huslia,United States,US,65.700000,-156.416667,67,\N,6252001.0,"{'lon': -156.416667, 'lat': 65.7}"
9183,KAQ,Kamulai,Kamulai,Papua New Guinea,PG,-8.133333,146.816667,804,\N,2088628.0,"{'lon': 146.816667, 'lat': -8.133333}"
9184,APE,San Juan Aposento,San Juan Aposento,Peru,PE,-15.350000,-75.166667,368,\N,3932488.0,"{'lon': -75.166667, 'lat': -15.35}"
9185,ODB,Cordoba,Cordoba,Spain,ES,37.850000,-4.850000,482,2519240,2510769.0,"{'lon': -4.85, 'lat': 37.85}"
9186,KCU,Masindi,Masindi,Uganda,UG,1.683333,31.716667,590,229362,226074.0,"{'lon': 31.716667, 'lat': 1.683333}"

In [58]:
df['coordinates']

0              {'lon': -105.133333, 'lat': 69.116667}
1               {'lon': -81.606667, 'lat': 44.201389}
2                           {'lon': 8.7, 'lat': 48.9}
3       {'lon': 88.333333, 'lat': 26.733333000000002}
4                {'lon': 81.833333, 'lat': 29.966667}
                            ...
9182                {'lon': -156.416667, 'lat': 65.7}
9183            {'lon': 146.816667, 'lat': -8.133333}
9184               {'lon': -75.166667, 'lat': -15.35}
9185                     {'lon': -4.85, 'lat': 37.85}
9186              {'lon': 31.716667, 'lat': 1.683333}
Name: coordinates, Length: 9187, dtype: object

In [62]:
import pandas as pd

# Assuming your DataFrame is named 'df' and the column with the records is named 'location'
df[['lon', 'lat']] = pd.DataFrame(df['coordinates'].tolist())
df = df.drop('coordinates', axis=1, inplace=False)

In [65]:
df.to_csv('airports_cleaned.csv')